<div class="container app">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-center">
        {{titulo}}</h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable">
        <a href="#" class="cerrado">
          &times;
        </a>
        mensaje aqui
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <img width="300" alt="Angular Logo" src="../assets/descarga.svg" />
    </div>
    <div class="col-sm-8">
      <h2>Create Data:</h2>
      <form class="form-horizontal">
        <div class="form-grup"></div>
        <label for="nombre" class="control-lable col-sm-2">
          Nombre
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nombre" nombre="nombre" [(ngModel)]="model.nombre"
            placeholder="Agregar un nuevo nombre">
        </div>

        <div class="form-grup"></div>
        <label for="posicion" class="control-lable col-sm-2">
          Posicion
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="posicion" nombre="posicion" [(ngModel)]="model.posicion"
            placeholder="Agregar una nueva posicion">
        </div>

        <div class="form-grup"></div>
        <label for="email" class="control-lable col-sm-2">
          Email
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" nombre="email" [(ngModel)]="model.email"
            placeholder="Agregar un nuevo email">
        </div>
        <div class="form-grup">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-success" (click)="addEmpleado()"> Subir</button>

          </div> 
        </div>
      </form>
    </div>
  </div>
</div>